RewriteEngine On
Options +FollowSymLinks
RewriteBase /WEBPhim/
RewriteRule ^movie/([0-9]+)$ api/movie.php?action=get&id=$1 [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L]